{% extends 'base.html.twig' %}

{% block title %}Autores!{% endblock %}

{% block body %}
    <div class="container">
{% for autor in autores %}
    <div class="row">
        <div class="wrapper d-flex">
            <div class="product-img">
            <img src="/uploads/fotos_autores/{{ autor.foto }}" alt="foto del autor" style="height:10rem; object-fit:cover;">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <h1>{{ autor.nombre }}</h1>
                    <p>{{ autor.descripcion|striptags|raw }}</p>
                </div>
                <div class="product-price-btn text-end">
                    <a href="{{ path('app_autores_libros', {'idAutor': autor.idAutor }) }}" class="btn btn-primary">Ver libros</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
{% endblock %}
